
.breweries-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

    &__breweries-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 1rem;
    margin: 0;

      &__breweries-item {
       width: calc(33.33% - 10px);
      margin-bottom: 20px;
      padding: 1rem;
      width: 15rem;
      height:13rem;
       padding: 2rem;
       border: 2px grey solid ;
       box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
       border-radius: 2rem;
             }
            }}
.details__btn{
padding:1em;
margin-top: 1rem;
margin: auto;
  }
  
  
  
  
  
  
  
  
  