.breweries-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .breweries-container__breweries-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .breweries-container__breweries-list__breweries-item {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  
  
  
  
  
  
  